html {
  font-family: "Times New Roman", Times, serif;
}

body {
  color: #ffffff;
  background-color: #101010;
}

p {
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

a:link {
  color: #4A64FF;

a:visited {
  color: #A84AFF;
}
